
.header{
    width: 100%;
    height: 65px;
    background: #E6B69C;
    
}
.yellow-box {
display: flex;
justify-content: center;
align-items: center;
margin-top: 135px;
column-gap: 15px;
}


.yellow {
    width: 381px;
height: 435px;
background: #D5CA69;
}
 .red{   
width: 777px;
height: 435px;
background:#F4A2A2;
 }

 .item{
    width: 282px;
    height: 259px;
    background:  #69C8D4;
    
 }
 .box1{
     display: flex;
     justify-content:center;
     margin-top: 21px;
     column-gap: 15px;
 }

.lor{
    width: 282px;
height: 85px;
background: #89AFE8;

}
.box2{
    display: flex;
    justify-content: center;
    margin-top: 21px;
    column-gap: 15px;
}
.purple{
    width: 282px;
    height: 637px;
    background: #BB9BE4;
}
.green{
    width: 579px;
    height: 637px;
    background: #6EB468;
}
.purple2{
    width: 282px;
    height: 635px;
    background: #BB9BE4;
}
.box3{
    display: flex;
    justify-content: center;
    margin-top: 21px;
    column-gap: 15px;
}

.sed{
width: 1440px;
height: 278px;
background: #F2A4DC;
}
.box4{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
